
body {
  background: url("../../images/grid.jpg") repeat 0 0;
}

rect {
  fill: black;
  stroke-width: 1px;
}

$zLevels: 24;
$fillColor: #ffffff;
$strokeColor: #ddcccc;
$rectSlug: rect;

@for $d from 0 through $zLevels - 1 {
  rect[z="#{$d}"] {
    fill: darken($fillColor, 100*$d/$zLevels);
    stroke: darken($strokeColor, 100*$d/$zLevels);
  }
}
