
body {
  background: url("../../images/grid.jpg") repeat 0 0;
}

rect {
  stroke-width: 1px;
}

$zLevels: 24;
$fillColor: #ddcccc;
$strokeColor: #ccbbbb;
$rectSlug: rect;

@for $d from 0 through $zLevels - 1 {
  rect[z="#{$d}"] {
    fill: desaturate($fillColor, 100*$d/$zLevels);
    stroke: desaturate($strokeColor, 100*$d/$zLevels);
  }
}
